

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');
:root {
    --White-: hsl(0, 0%, 100%);
 --Slightly-transparent-white: hsla(0, 41%, 8%, 0.75);
--Slightly-transparent-white: hsla(0, 0%, 100%, 0.6); 
--Very-dark-blue: hsl(233, 47%, 7%);
--Dark-desaturated-blue: hsl(244, 38%, 16%);
--Soft-violet: hsl(277, 64%, 61%);
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
 }

body {
    background: var(--Very-dark-blue);
    font-family: "inter";
    color: #fff;
}

.main {
    margin-top: 100px;
    background: var(--Dark-desaturated-blue);
    width: 40%;
    max-height: 400px;
}

h1 {
 font-size: 30px;
 padding: 15px;
 margin-top: 30px;
 text-align: center
}

.main-para {
 font-size: 15px;
 text-align: center;
 padding: 28px;
 margin-bottom: 20px;
}


.flex-container {
 display: flex;
 justify-content: space-around;
}

h4 {
 font-size: 30px;
}

.text {
 font-size: 15px;
 margin-bottom: 50px;
}

.holdImage{
    width: 40%;
    height: 390px;
    background-color:#7448b5;
}

.image{
    width: 100%;
    height: 390px;
    
}

.holdAll{
    background-color: black;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
}

.img-container{
    width: 40%;
    height: 390px;
    background-color:rgb(159 84 202 / 68%);
    position: absolute;
}
