
:root { 
--Very-dark-blue: hsl(233, 47%, 7%);
--Dark-desaturated-blue: hsl(244, 38%, 16%);
--Soft-violet: hsl(277, 64%, 61%);
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
 }

 body {
    background-color: var(--Dark-desaturated-blue);
    font-family: "specimen";
    color: #fff;
 }

 .main-container {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 100%;
 }

 .container {
    background: var(--Very-dark-blue);
    max-width: 350px;
    margin-top: 50px;
 }

h1 {
    font-family: "speciman" "lexend" "Deca";
    
}