



:root {
  --White-: hsl(0, 0%, 100%);
--Slightly-transparent-white: hsla(0, 41%, 8%, 0.75);
--Slightly-transparent-white: hsla(0, 0%, 100%, 0.6); 
--Very-dark-blue: hsl(233, 47%, 7%);
--Dark-desaturated-blue: hsl(244, 38%, 16%);
--Soft-violet: hsl(277, 64%, 61%);
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  background: var(--Very-dark-blue);
  font-family: "inter";
  color: #fff;
  overflow: scroll;
}

/* Main-container */
.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10em;
  width: 100vw;
  height: 100vh; 
}

/* text-container */
.text-container {
  background-color: var(--Dark-desaturated-blue);
  width: 40%;
  height: 400px;

}

/* heading */
.text1 {
color: var(--White-);
font-family: "inter";
font-size: 40px;
font-weight: 700;
padding: 20px 35px 0px 35px;
margin-top: 20px;
}

span {
color: var(--Soft-violet);
}

/* paragraph */
.tex2 {
color: #D3D3D3;
font-family: "inter";
font-size: 20px;
font-weight: 400;
padding:  20px 35px 30px 35px;
line-height: 1.3em;
margin-bottom: 20px;

}

/* feature section */
.flex-container {
display: flex;
justify-content: space-around;
flex-direction: row;
padding: 10px 100px 70px 20px;

}

.items {
font-size: 1.5em;
}

/* Image */

.image {
position: relative;
}

.image:before{
content: "";
position: absolute;
height: 100%;
width: 100%;
opacity: 0.5;
background: var(--Soft-violet);
background-size: 100% 100%;
}

img {
width: 100%;
height: 400px;
}

@media screen and (min-width: 480px) {
  .text1 {
    margin: 5px;
    font-size: 30px;
  }

  .tex2 {
    font-size: 14px;
    margin-top: 5px
  }

  .main-container {
    display: flex;
    flex-direction: column;
  }

}
